// PRIMARY COLORS
$_primary: #AF2027;
$_primary-shade: #9e1c22;

// SECONDARY COLORS
$_secondary: #fff;
$_secondary-shade: #fffffff1;

// VUE-NOTIFICATION-COLORS
$_error: #AF2027;
$_error-shade: #9e1c22;
$_success: #37b106;
$_success-shade: #2b8a05;
$_warn: #FFF837;
$_warn-shade: #e0db33;